@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    
    using(Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class = "post-simple nav-list nav-item line-form", role = "form", enctype = "multipart/form-data"}))
    {
        @Html.AntiForgeryToken()
        @Html.ActionLink("Din profil", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Click for at komme til din profil" })
        <input type="submit" value="Log af" id="nav-simple-form-send" />
    }
}
else
{
    <div class="nav-login nav-list nav-item">
        @Html.ActionLink("Registrer", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        @Html.ActionLink("Log ind", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>
}
