@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Lukket ude";
}

<hgroup>
    <h1 class="text-danger">Lukket ude.</h1>
    <h2 class="text-danger">Den bruger er midlertidigt lukket ned. Prøv igen senere</h2>
</hgroup>
