@model Meetup.Websites.Models.WishDeleteModel
@{
    ViewBag.Title = "Slet Ønske";
}

<div class="white-box">
    <h3>Er du sikker på at du vil slette følgende ønske?</h3>
    <p>&quot;@Model.WishInformation.ToString()&quot;</p>
    @using(Html.BeginForm("Delete", "Wishes", FormMethod.Post, new { role = "form", enctype = "multipart/form-data", @class = "normal" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.EventId)
        @Html.HiddenFor(m => m.WishId)
        <input type="submit" value="Slet Ønske" class="button" />
    }
</div>

