@{
    ViewBag.Title = "Forside";
}

<div class="white-box">
    <h3>Meetup</h3>
    <div class="side-boxes">
        <section class="side-box">
            <p id="image" style="background: red; height: 300px">.</p>
        </section>
        <section class="side-box">
            <p>Magna ac placerat vestibulum lectus mauris.<br /><br />Purus in mollis nunc sed id semper. Arcu dui vivamus arcu felis bibendum ut tristique. Donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum. Condimentum lacinia quis vel eros donec ac odio. Massa tincidunt dui ut ornare lectus. Lacus sed viverra tellus in hac. In dictum non consectetur a erat nam at lectus. Quam id leo in vitae turpis massa sed. Sed risus pretium quam vulputate dignissim suspendisse. Eget magna fermentum iaculis eu non diam phasellus. In hac habitasse platea dictumst quisque. Laoreet sit amet cursus sit. Lacus vestibulum sed arcu non. Luctus venenatis lectus magna fringilla urna porttitor rhoncus.</p>
        </section>
    </div>
</div>
<div class="white-box">
    <p>Purus in mollis nunc sed id semper:</p>
    <a href="@Url.Action("Register","Account")" class="button">Registrer</a>
</div>