@model Meetup.Websites.Models.SeanceViewModel
@{
    ViewBag.FullSize = true;
}


<div class="highlight white-box">
    <h3>Seancer for eventen &quot;<a href="@Url.Action("Page","Events",new { id = Model.Event.Id })">@Model.Event.Name</a>&quot;</h3>
    <div class="all-meetings">
        @Html.DisplayFor(m => m)
    </div>
</div>
